{% extends "base.html" %}
{% block content %}
If you want to start the process at {{realtime1}}...
  <br/><br/>
  The following times are for the 12-hour rise time:
  <br/><br/>
  <b>{{dough_ready}}</b>  -- Fold over dough and cover with plastic wrap for 15 minutes.
  <br/><br/>
  <b>{{plast_wait}}</b>  -- Shape into ball, wrap and let sit for two hours.
  <br/><br/>
  <b>{{oven_time}}</b>  -- Turn oven on to 450 degrees.
  <br/><br/>
  <b>{{dough_oven_time}}</b> -- Put dough in oven.
  <br/><br/>
  <b>{{lid_off}}</b> -- Take lid off.
  <br/><br/>
  <b>{{last_check}}</b> -- Check coloring.
  <br/><br/><br/>
  The following times are for the 18-hour rise time:
  <br/><br/>
 <b>{{dough_ready1}}</b>  -- Fold over dough and cover with plastic wrap for 15 minutes.
 <br/><br/>
 <b>{{plast_wait1}}</b>  -- Shape into ball, wrap and let sit for two hours.
 <br/><br/>
 <b>{{oven_time1}}</b>  -- Turn oven on to 450 degrees.
 <br/><br/>
 <b>{{dough_oven_time1}}</b> -- Put dough in oven.
 <br/><br/>
 <b>{{lid_off1}}</b> -- Take lid off.
 <br/><br/>
 <b>{{last_check1}}</b> -- Check coloring.
 <br/><br/>
<a href="/">back</a>
{% endblock %}
